APP_ENV=development

EXPRESS_PORT=3000

# Variables de conexión a la base de datos
DB_DEVELOPMENT_HOST=127.0.0.1
DB_DEVELOPMENT_PORT=3306
DB_DEVELOPMENT_NAME=shortened_url_db
DB_DEVELOPMENT_USER=root
DB_DEVELOPMENT_PASSWORD=

DB_PRODUCTION_HOST=127.0.0.1
DB_PRODUCTION_PORT=3306
DB_PRODUCTION_NAME=shortened_url_db
DB_PRODUCTION_USER=root
DB_PRODUCTION_PASSWORD=
